.parent{
  display:flex ;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 9px;
}
.btn{
  background-color: black;
  color: white;
  width: fit-content;
  height: 30px;
  border-radius: 15px;
  letter-spacing: 0.9px;
  font-size:10px;
  margin: 8px;
  padding: 10px;
  cursor: pointer;
}
.btn2{
  background-color: rgb(255, 255, 255);
  border-color:rgb(255, 255, 255) ;
  width: fit-content;
  height: 30px;
  letter-spacing: 0.9px;
  font-size:10px;
  box-shadow: none;
  margin: 8px;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
}