.card{
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  width: 240px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid black ;
  border-radius: 15px;
  background-color: black;
  color: aliceblue;
  padding: 20px;
  margin: 20px;
}
.card img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}