.parent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
.heading{
  color: rgb(7, 7, 52);
  font-size: 20px;
  font-weight: 600;
}
.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: rgb(64, 64, 96);
}
.content ul:hover{
  text-decoration:underline;
}
.btn{
  height: fit-content;
  width: fit-content;
  color: white;
  background-color: rgb(186, 45, 45);
  border-radius: 5px;
  border-color: brown;
  padding: 10px ;
}