.parent{
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  width:30%;
  height: 500px;
  align-content: center;
  gap: 20px;
  padding: 30px;
  margin: 30px;
}
.heading{
  font-size: 45px;
  font-weight:bolder;
}
.para{
  font-size: 20px;
  font-weight:540 ;
}