.parent{
  min-width: 300px;
  height: 500px;
  margin: 10px;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.btn{
  font-size: 20px;
  width: 30px;
  border-radius:50% ;
  color: white;
  background-color: black;
}
.btn2{
  height: 40px;
  width: fit-content;
  font-size: 17px;
  border-radius: 22px;
  background-color:rgb(74, 112, 249);
  font-weight: 700;
  border-color: rgb(74, 112, 249);
  padding: 10px;
  text-align:center;
}
.para{
  font-size: 25px;
  padding-top: 170px;
  letter-spacing: 1px;
  color: white;
}